._landmark
{ max-width:70vw;
  max-height:70vh;
  

 
}
._table
{

    display: flex;
    justify-content: center;
}
@media(max-width:500px)
{
  ._table{
    justify-content: flex-start;
  }
}
.btn
{ width:100%;
  height: 100%;
    background-color: transparent;
    border-style: none;
   text-align: left;
   padding-left: 2px;
}