
.tab-content
{
  margin-left: 20vw;
}
@media(max-width:575px)
{  .tab-content
  {
    margin-left: 30%;
  }
  #v-pills-tab
  {
    width:30vw;
    
  }
  .para
  {
    flex-direction: column;
  }
}
@media(max-width:345px)
{
  #v-pills-tab
  {
    display: none;
  }
  .tab-content
  {
    margin-left:0px;
  }
}
.para
{
  display: flex;
  flex-direction: row;
}
.para p
{ max-width:80vw;
 margin-left: 5px;
 margin-right: 5px;
}
.para figure
{ margin-left:10px;
  margin-right: 10px;
  max-width:20vw;
}
.para figure img
{
  max-width: 20vw;
}